*{box-sizing:border-box;position:relative;outline:none;margin:0 auto;}
:root{
    /*sizes*/
    --xxxs:0.1rem;
    --xxs:0.2rem;
    --xs:0.4rem;
    --s:0.8rem;
    --m:1rem;
    --l:1.25rem;
    --xl:1.5rem;
    --xxl:1.75rem;
    --xxxl:2rem;
    
    /*colors*/
    --primary:#fff;
    --secondary:#eee;
    --mid:#ccc;
    --text:#666;
    --accent:#abc;
}
html{
    font-family:sans-serif;font-weight:300;font-size:var(--m);color:var(--text);background:var(--primary);user-select:none;
}
body{
    overflow-x:hidden;
}
section{
    width:100vw;height:100vh;
}
button{
    color:var(--text);border:1px solid var(--text);padding:var(--xs) var(--m);
}
input,textarea{font-family:sans-serif;font-size:var(--m);color:var(--text);
}
